*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background-color: #2c3e50;
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 98%;
    min-height: 100vh;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    padding:15px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #dfe4ea;
}

.calculator-grid > button:hover{
    background-color: aquamarine;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: #95a5a6;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: #95a5a6 .75;
    font-size: 1.5rem;
}

.output .current-operand{
    color: #dfe4ea .75;
    font-size: 2.5rem;
}

@media only screen and (max-width: 500px) {
.calculator-grid{
    padding:0;
}
}
